.borderlands2 .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/borderlands2/wW.svg');
}
.borderlands2 .cg-wrap piece.wp-piece.white {
  background-image: url('images/pieces/borderlands2/w+W.svg');
}
.borderlands2 .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/borderlands2/wS.svg');
}
.borderlands2 .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/borderlands2/w+S.svg');
}
.borderlands2 .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/borderlands2/wH.svg');
}
.borderlands2 .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/borderlands2/w+H.svg');
}
.borderlands2 .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/borderlands2/wA.svg');
}
.borderlands2 .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/borderlands2/w+A.svg');
}
.borderlands2 .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/borderlands2/wC.svg');
}
.borderlands2 .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/borderlands2/wM.svg');
}
.borderlands2 .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/borderlands2/w+M.svg');
}
.borderlands2 .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/borderlands2/wF.svg');
}
.borderlands2 .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/borderlands2/w+F.svg');
}
.borderlands2 .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/borderlands2/wE.svg');
}
.borderlands2 .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/borderlands2/w+E.svg');
}
.borderlands2 .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/borderlands2/wL.svg');
}
.borderlands2 .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/borderlands2/w+L.svg');
}
.borderlands2 .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/borderlands2/wG.svg');
}
.borderlands2 .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/borderlands2/w+G.svg');
}
.borderlands2 .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/borderlands2/wW.svg');
}
.borderlands2 .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/borderlands2/w+W.svg');
}

.borderlands2 .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/borderlands2/bW.svg');
}
.borderlands2 .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/borderlands2/b+W.svg');
}
.borderlands2 .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/borderlands2/bS.svg');
}
.borderlands2 .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/borderlands2/b+S.svg');
}
.borderlands2 .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/borderlands2/bH.svg');
}
.borderlands2 .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/borderlands2/b+H.svg');
}
.borderlands2 .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/borderlands2/bA.svg');
}
.borderlands2 .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/borderlands2/b+A.svg');
}
.borderlands2 .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/borderlands2/bC.svg');
}
.borderlands2 .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/borderlands2/bM.svg');
}
.borderlands2 .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/borderlands2/b+M.svg');
}
.borderlands2 .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/borderlands2/bF.svg');
}
.borderlands2 .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/borderlands2/b+F.svg');
}
.borderlands2 .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/borderlands2/bE.svg');
}
.borderlands2 .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/borderlands2/b+E.svg');
}
.borderlands2 .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/borderlands2/bL.svg');
}
.borderlands2 .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/borderlands2/b+L.svg');
}
.borderlands2 .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/borderlands2/bG.svg');
}
.borderlands2 .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/borderlands2/b+G.svg');
}
