.CHESS_XIANGQI .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/CHESS_XIANGQI/wP.webp');
}
.CHESS_XIANGQI .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/CHESS_XIANGQI/wR.webp');
}
.CHESS_XIANGQI .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/CHESS_XIANGQI/wN.webp');
}
.CHESS_XIANGQI .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/CHESS_XIANGQI/wB.webp');
}
.CHESS_XIANGQI .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/CHESS_XIANGQI/wQ.webp');
}
.CHESS_XIANGQI .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/CHESS_XIANGQI/wK.webp');
}
.CHESS_XIANGQI .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/CHESS_XIANGQI/wU.webp');
}

.CHESS_XIANGQI .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/CHESS_XIANGQI/bA.svg');
}
.CHESS_XIANGQI .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/CHESS_XIANGQI/bC.svg');
}
.CHESS_XIANGQI .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/CHESS_XIANGQI/bE.svg');
}
.CHESS_XIANGQI .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/CHESS_XIANGQI/bH.svg');
}
.CHESS_XIANGQI .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/CHESS_XIANGQI/bR.svg');
}
.CHESS_XIANGQI .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/CHESS_XIANGQI/bS.svg');
}
.CHESS_XIANGQI .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/CHESS_XIANGQI/bT.svg');
}
.CHESS_XIANGQI .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/CHESS_XIANGQI/bW.svg');
}

.CHESS_XIANGQI .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}
